body {
  background-color: rgb(55, 69, 80);
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.display {
  float: left;
}

.header {
  background-color: rgb(109, 131, 151);
  margin-top: 0;
  margin-bottom: 5pt;
  border-radius: 3pt;
  min-height: 60pt;
}

.file-zone {
  height: 17pt;
  margin-bottom: 10pt;
}

.header button {
  background-color: rgb(50, 75, 99);
  border-radius: 5pt;
  color: white;
}

.image-uploader {
  float: left;
  width: 100pt;
}

.downloader {
  float: left;
  width: 100pt;
}

.framerate {
  float: right;
  color: white;
}

.sync {
  float: left;
}

.effect-selector {
  float: left;
  width: 120pt;
}

.effect-selector select {
  background-color: rgb(50, 75, 99);
  color: white;
}

.editor {
  float: left;
  width: 300pt;
  background-color: rgb(109, 131, 151);
  margin-left: 10pt;
  border-radius: 3pt;
}

.effect-editor {
  max-width: 200pt;
  background-color: rgb(50, 75, 99);
  margin: 5pt 0 5pt 5pt;
  border-radius: 5pt;
  position: relative;
  color: white;
  font-size: 12pt;
}

.effect-editor label {
  margin-top: 1pt;
  margin-left: 3pt;
}

.param_editor {
  max-width: 195pt;
  background-color: rgb(25, 48, 71);
  margin: 2pt;
  border-radius: 7pt;
}

.param_editor select {
  background-color: rgb(25, 48, 71);
  color: white;
}

.delete_button {
  border-radius: 50%;
  text-align: center;
  float: right;
  background-color: rgb(25, 48, 71);
  color: white;
}